.sub-catalog-wrapper {
  height: 1053px;
  background: url('#{$path}/sub-catalog-layout-top.png') top center no-repeat, url('#{$path}/sub-catalog-layout-bottom.png') bottom center no-repeat;
  margin: auto;
  min-width: $min-width;
  /*min-height: 420px;
  width: 100%;
  background: url(/css/wacker/img/about-line-white.png) top left repeat-x, url(/css/wacker/img/about.png) repeat 0 0;
  margin: auto;
  min-width: $min-width;*/
}

.sub-catalog {
  //background: url('#{$path}/img/hr-line.png') bottom center repeat-x, url('#{$path}/img/sub-catalog-line.png') top left repeat-x, rgba(15,45,82,0.9);
  background: url('#{$path}/hr-line.png') bottom left repeat-x, url('#{$path}/hr-line.png') top left repeat-x, rgba(15,45,82,0.9);
  margin: auto;
  margin-top: -8px;
  min-width: $main-width;
  height: inherit;

}

.sub-catalog__content {
  margin: 0 auto;
  width: $min-width;
  color: $color-white;
  overflow: hidden;
  height: inherit;
}


.sub-catalog-header {
  margin-top: 20px;
  margin-left: 40px;
  //text-transform: uppercase;
  color: $color-yell;
  font-size: 0.9em;
}

.sub-catalog-header h2 {
  text-transform: uppercase;
  margin-left: 20px;
}

.sub-catalog-header img {
  vertical-align: middle;
  margin-right: 10px;
}

.sub-catalog__product {
  position: relative;
  display: inline-block;
  width: 305px;
  height: 423px;
  margin: 5px;
  margin-bottom: 10px;
  text-align: center;
  //margin-left: 19px;
  //margin-top: 10px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  //background: url('#{$path}/img/wam-product-spec-title.png') bottom center no-repeat, rgba(255,255,255,1);
}

.sub-catalog__adv-info {
  display: none;
}

.sub-catalog__product .wrap {
  position:absolute;
  overflow:hidden;
  width: inherit;
}

.sub-catalog__product .wrap:hover {
  //height:506px;
  //width: 305px;
  @include box-shadow(0, 0, 10px, rgba(0,0,0,0.5));
  background: url('#{$path}/sub-catalog-product-hov.png') bottom center repeat-x, rgba(255,255,255,1);
  z-index: 20;
}

.sub-catalog__product .wrap:hover .sub-catalog__adv-info {
  display: block;
  padding: 10px;
  color: $color-blue;
  font-size: 0.9em;
  z-index: 50;
}


.sub-catalog__product-image {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  display: inline-block;
  width: 100%;
  height: 210px;
  text-align: center;
  line-height: 180px;
}

.sub-catalog__product-image img {
  display: inline-block;
  vertical-align: middle;
}

.sub-catalog__product-title {
  display: table-cell;
  background: url('#{$path}/product-name.png') center center no-repeat;
  height: 62px;
  font-family: "PTSans-Bold", sans-serif;
  vertical-align: middle;
  padding: 10px;
  width: 305px;
  margin: auto;
  line-height: 21px;
}

.sub-catalog__product-title a {
  font-size: 1.2em;
  color: #0F2E5D;
  text-decoration: none;
  text-transform: none;
}

.sub-catalog-product-desc {
  text-align: center;
  color: #0F2E5D;
  font-size: 0.9em;
  padding: 10px;
}

.sub-catalog-product-btn {
  background-color: #F3BF42 !important;
  color: $color-white !important;
  margin-top: 5px !important;
  text-transform: uppercase;
}

.sub-catalog-product-price {
  font-size: 1.6em;
  color: #FFCA00;
  font-family: $font-sans-bold;
}

.sub-catalog-product-rub {
  font-size: 1.2em;
  font-weight: bold;
}

.sub-catalog-product-desc img {
  vertical-align: bottom;
}
/*.sub-catalog__price {
  padding-top: 10px;
}

.sub-catalog__content-slider span {
  color: #FCDE4F;
  font-weigh: bold;
  font-size: 1.2em;
}

.sub-catalog__content-slider .wrap:hover .sub-catalog__IEC {
  font-size: 1.2em;
  font-family: $font-sans-bold;
  color: #484848;
}

.sub-catalog__content-slider .wrap:hover .sub-catalog-desc {
  font-size: 1em;
  color: #484848;
  text-align: center;
  display: block;
  padding: 5px 10px;
}

.sub-catalog__content-slider .wrap:hover .sub-catalog__detail{
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  background: url('#{$path}/images/header-phone-btn.png?81ea2ed41fb33da382141301de2c592b') top center no-repeat;
  width: 305px;
  height: 37px;
  line-height: 37px;
  text-decoration: none;
  border-style: solid none;
  border-width: 0px 0px 3px 0px;
  border-color: #F1B814;
  margin-top: 15px;
  font-size: 0.9em;
  color: #4C4C4C;
  font-weight: bold;
}

.sub-catalog h2 {
  margin-top:0px;
}
.sub-catalog__header-catalog {
  width: 80%;
  padding-top: 20px;
  margin-left: 20px;
  color: $color-yell;
  //background: url(img/gears-dark.png) top right no-repeat
}

.sub-catalog__header-catalog img {
  vertical-align: middle;
  margin-left: 10px;
}


.sub-catalog__header-catalog h2 {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 1.2em;
  //text-transform: uppercase;
  display: inline-block;
}*/