$font: 'Gilroy', sans-serif;
$font-bold: 'Gilroy-Bold', sans-serif;
$font-с: 'Gilroy-C', sans-serif;
$font-spec: 'Gilroy-spec', sans-serif;
$font-sans: 'PTSans', sans-serif;
$font-sans-bold: 'PTSans-Bold', sans-serif;
$font-dax-bold: 'DaxlineCyr-Bold', sans-serif;
$font-dax-lf: 'DaxlineCyrLF', sans-serif;
$color-gray: #4C4C4C;
$color-light-yell: #F3BF42;
$color-wacker: #343434;
$color-yell: #FFCA00;
$color-white: #FFFFFF;
$color-blue: #0F2E5D;
$main-width: 1400px;
$min-width: 1400px;
$path: '/storage';
$font-roboto-bold: 'Roboto-Bold', sans-serif;
